src/backend/proficiencies/__pycache__/
src/backend/grades/__pycache__/
src/backend/scores/__pycache__/
src/backend/tasks/__pycache__/
src/backend/account/__pycache__/
src/backend/account/api/__pycache__/
src/backend/backend/__pycache__/
src/backend/classes/__pycache__/
src/backend/classes/__pycache__/