// .color-box{
//     display: block;
//     height: 160px;
//     text-align: center;
//     padding: 20px 0;
//     opacity: .9;
//     transition: all .3s;
//     &:hover{
//         text-decoration: none;
//         color: #555;
//         opacity: 1;
//         transform: scale(1.08);
//     }
//     &:focus{
//         text-decoration: none;
//     }
//     .count{
//         font-size: 50px;
//         height: 80px;
//         line-height: 80px;
//     }
//     .desc{
//         font-size: 18px;
//         .fa{
//             margin-right: 5px;
//         }
//     }
// }

// body {
//     background: #EEEEEE;
//   }
 
.App .right{
  background:rgb(35, 98, 166);
}
.App .left{
  background: white;
}

// #video{
//   align-self: center;
//   position: relative;
//   aspect-ratio: 16/9;
//   max-width: 80%;
//   left: 10%;
//   top: 10%
// }

input{
  width: 20%;
  display: block;
}

@media screen and (min-width:1025px) and (max-width: 1600px) { 
  .App {
    padding-top: 70px ;
    padding-left: 260px;
    display: flex;
  }

  #video{
    align-self: center;
    position: relative;
    aspect-ratio: 16/9;
    max-width: 94%;
    left: 3%;
    right: 3%;
    padding-top: 20px;
  }

  .App .left{
    width: 70%;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: scroll;
    align-items: center;
    justify-content: center;

  }
  .App .right{
  width: 30%;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: scroll;
  align-items: center;
  justify-content: center;
}

}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .App{
    height: 100%;
    display: flex;
    // padding-top: 400px;
  }

  .App .div .left, 
  .App .div .right{
    // height: 25vh;
    width: 100%;
    position: relative;
    overflow: scroll;
    // clear: both;
    height: 50%;
  }

  #video{
      align-self: center;
      position: relative;
      aspect-ratio: 16/9;
      max-height: 30%;
      // left: 10%;
      // top: 10%;
    }
    
}
