/*.color-box{
    display: block;
    height: 160px;
    text-align: center;
    padding: 20px 0;
    opacity: .9;
    transition: all .3s;
    &:hover{
        text-decoration: none;
        color: #555;
        opacity: 1;
        transform: scale(1.08);
    }
    &:focus{
        text-decoration: none;
    }
    .count{
        font-size: 50px;
        height: 80px;
        line-height: 80px;
    }
    .desc{
        font-size: 18px;
        .fa{
            margin-right: 5px;
        }
    }
}*/ 
.App .right{
    background:aqua; 
}
.App .left{
    background: white; 
    
}
.App .left, 
.App .right{
    width: 100%; 
    height: 50vh; 
    
}

@media screen and (min-width:1200px) {

    .App {
        padding-left: 17%; 
        display: flex; 

    }
    .App .left{
        padding: 10%; 
        
    
    }
    .App .left, 
    .App .right{
        width: 50%; 
        height: 100vh; 
        
    }

}

