/*.color-box{
    display: block;
    height: 160px;
    text-align: center;
    padding: 20px 0;
    opacity: .9;
    transition: all .3s;
    &:hover{
        text-decoration: none;
        color: #555;
        opacity: 1;
        transform: scale(1.08);
    }
    &:focus{
        text-decoration: none;
    }
    .count{
        font-size: 50px;
        height: 80px;
        line-height: 80px;
    }
    .desc{
        font-size: 18px;
        .fa{
            margin-right: 5px;
        }
    }
}*/ 
.App .right{
    background: rgb(235, 245, 191); 
}
.App .left{
    background: white; 
}

  @media screen and (min-width: 768px) and (max-width: 1600px){
    .App { 
      padding-top: 70px ; 
      padding-left: 260px; 
      display: flex; 
    }

    #video{
      align-self: center; 
      position: relative; 
      aspect-ratio: 16/9; 
      max-width: 94%; 
      left: 3%; 
      right: 3%; 
      padding-top: 20px; 
    }

    .App .left{
      width: 70%; 
      height: 100vh; 
      position: relative; 
      display: flex; 
      overflow: scroll; 
      align-items: center; 
      justify-content: center; 

    }

    .App .right{
      width: 30%; 
      height: 100vh; 
      position: relative; 
      display: flex; 
      overflow: scroll; 
      align-items: center; 
      justify-content: center; 
    }

  }

@media screen and (min-width:600px) and (max-width: 767px) {

    .App {
        height: 100%; 
        display: flex; 
        flex-direction: column; 
    }

    .App .div .left, 
    .App .div .right{
        width: 100%; 
        position: relative; 
        overflow: scroll; 
        height: 50%;  
    }
    .App .left{
      flex: 1; 
    }

    .App .right{
        flex: 1; 
    }
    #video{
      align-self: center; 
      position: relative; 
      aspect-ratio: 16/9; 
      max-height: 50%; 
      max-width: 100%; 
    }
  }

  

// .color-box{
//     display: block;
//     height: 160px;
//     text-align: center;
//     padding: 20px 0;
//     opacity: .9;
//     transition: all .3s;
//     &:hover{
//         text-decoration: none;
//         color: #555;
//         opacity: 1;
//         transform: scale(1.08);
//     }
//     &:focus{
//         text-decoration: none;
//     }
//     .count{
//         font-size: 50px;
//         height: 80px;
//         line-height: 80px;
//     }
//     .desc{
//         font-size: 18px;
//         .fa{
//             margin-right: 5px;
//         }
//     }
// }

// body {
//     background: #EEEEEE;
//   }
 
.App .right{
  background:aqua;
}
.App .left{
  background: white;
}

// #video{
//   align-self: center;
//   position: relative;
//   aspect-ratio: 16/9;
//   max-width: 80%;
//   left: 10%;
//   top: 10%
// }

//CHANGE TRYING TO FIX FULLSCREEN 

@media screen and (min-width: 1200px){
  .App {
    padding-top: 70px ;
    padding-left: 260px;
    display: flex;
  }
  #video{
    align-self: center;
    position: relative;
    aspect-ratio: 16/9;
    max-width: 94%;
    left: 3%;
    right: 3%;
    padding-top: 20px;
  }

  .App .left{
    width: 70%;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: scroll;
    align-items: center;
    justify-content: center;

  }
  .App .right{
    width: 30%;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: scroll;
    align-items: center;
    justify-content: center;
  }

}

//END OF CHANGE


@media screen and (min-width:1025px) and (max-width: 1600px) { 
  .App {
    padding-top: 70px ;
    padding-left: 260px;
    display: flex;

  }

  #video{
    align-self: center;
    position: relative;
    aspect-ratio: 16/9;
    max-width: 94%;
    left: 3%;
    right: 3%;
    padding-top: 20px;
  }

  .App .left{
    width: 70%;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: scroll;
    align-items: center;
    justify-content: center;

  }
  .App .right{
  width: 30%;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: scroll;
  align-items: center;
  justify-content: center;
}

}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .App{
    height: 100%;
    display: flex;
    // padding-top: 400px;
  }

  .App .div .left, 
  .App .div .right{
    // height: 25vh;
    width: 100%;
    position: relative;
    overflow: scroll;
    // clear: both;
    height: 50%;
  }

  #video{
      align-self: center;
      position: relative;
      aspect-ratio: 16/9;
      max-height: 30%;
      // left: 10%;
      // top: 10%;
    }
    
}

